alembic
yfinance
mstarpy
fastapi
sqlalchemy
ib-insync
pydantic
uvicorn[standard]
psycopg2-binary
requests
python-dotenv
pandas
numpy
aiohttp
eventkit
nest-asyncio
pytest
pytest-asyncio
httpx
python-multipart
prometheus-client
